<!DOCTYPE html>
<html>
  <head>
    <title>Mini-Auth demo asyncsteem</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 150px;
      }
    </style>
	<meta http-equiv="refresh" content="5">
  </head>
  <body>
    <div class="container">
	  <h3>Mini-Auth demo asyncsteem</h3>
	  <p>To authenticate with this server, please transfer 0.001 STEEM or 0.001 SBD to @{{account}} using the following string as memo field :
      <p><b>{{session}}</b></p>
      <p>If you already did the transfer, please wait untill this mini-auth server catches up</p>
	  <p>Currently running <b>{{behind}}</b> behind on the blockchain.</p>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
